<ng-container *ngIf="states.contacts.isPristine && contacts$">
  <div class="searchWrapper">
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
    <button mat-raised-button [routerLink]="['/contacts/create']">Create Contact</button>
  </div>

  <table mat-table [dataSource]="searchedList" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let contact"> {{ contact.ID }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let contact"> {{ contact.Info.Name }} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let contact">
        {{ contact.Info.InvoiceAddress ? (contact.Info.InvoiceAddress.AddressLine1 ? contact.Info.InvoiceAddress.AddressLine1 : 'unknown') : 'unknown' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let contact">
        +{{ contact.Info.DefaultPhone.CountryCode }}
        {{ contact.Info.DefaultPhone ? (contact.Info.DefaultPhone.Number ? contact.Info.DefaultPhone.Number : 'unknown') : 'unknown' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedActions">
      <td mat-cell *matCellDef="let contact" [attr.colspan]="displayedColumns.length">
        <div class="contact-actions"
             [@detailExpand]="contact == expandedElement ? 'expanded' : 'collapsed'">
            <button mat-button [routerLink]="['/contacts/', contact.ID]">DETAILS</button>
            <button mat-button color="primary" [routerLink]="['/contacts/edit', contact.ID]">EDIT</button>
            <button mat-button color="warn" (click)="deleteContact(contact.ID)">DELETE</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let contact; columns: displayedColumns;"
        class="contact-row"
        [class.expanded-row]="expandedElement === contact"
        (click)="expandedElement = expandedElement === contact ? null : contact">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedActions']" class="actions-row"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</ng-container>

<!-- Contacts loading -->
<app-loading-spinner [state]="states.contacts" [diameter]="200"></app-loading-spinner>
