table {
  width: 70%;
  margin: auto;
  position: relative;
  top: 5rem;
}

/* .mat-form-field {
  font-size: 14px;
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.searchWrapper {
  font-size: 14px;
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: auto;
}

tr.actions-row {
  height: 0;
}

tr.contact-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.contact-row:not(.expanded-row):active {
  background: #efefef;
}

.contact-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.contact-actions {
  overflow: hidden;
  display: flex;
}




