<ng-container *ngIf="states.contact.isPristine && contact$ | async as contact">
  <mat-card class="card" *ngIf="contact$ | async as contact">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <h3>{{ contact.Info.Name }}</h3>
    </mat-card-content>
    <mat-card-content *ngIf="contact.Info.DefaultEmail">
        E-mail: {{ contact.Info.DefaultEmail.EmailAddress }}
    </mat-card-content>
    <mat-card-content *ngIf="contact.Info.DefaultPhone">
      Phone: +{{ contact.Info.DefaultPhone.CountryCode }} {{ contact.Info.DefaultPhone.Number }}
    </mat-card-content>
    <mat-card-content *ngIf="contact.Info.InvoiceAddress">
      Address: {{ contact.Info.InvoiceAddress.AddressLine1 }} {{ contact.Info.InvoiceAddress.AddressLine2 ?  contact.Info.InvoiceAddress.AddressLine2 : '' }},
      {{ contact.Info.InvoiceAddress.City }}, {{ contact.Info.InvoiceAddress.Country }}
    </mat-card-content>
    <mat-card-content *ngIf="contact.Comment">
      Comment: {{ contact.Comment }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" [routerLink]="['/contacts/edit', contactId]">EDIT</button>
      <button
        mat-button
        color="warn"
        (click)="deleteContact()"
        [disabled]="!states.deleteContact.isPristine"
        >
        <ng-container *ngIf="!states.deleteContact.isLoading">
          DELETE
        </ng-container>
        <app-loading-spinner-icon [state]="states.deleteContact"></app-loading-spinner-icon>
      </button>
      <button mat-button [routerLink]="['/contacts/']">BACK</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<!-- Contact loading -->
<app-loading-spinner [state]="states.contact" [diameter]="200"></app-loading-spinner>
