.card {
  max-width: 400px;
  margin: auto;
  position: relative;
  top: 5rem;
  box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 50%);
}

.mat-card-avatar {
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  height: 250px !important;
  width: 250px !important;
  background-position: center !important;
}

h3 {
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
}

h6 {
  font-size: 15px;
  padding-top: 10px;
}

.header-image {
  background-image: url('https://w3hubs.com/Custom-Cards-In-Bootstrap-4/icon.png');
  background-size: cover;
  display: block;
  margin: 15px auto;
}
