<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <span class="title">Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="/contacts" routerLinkActive="active">Contacts</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button id="menu-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="mainTitle" (click)="navigateHome()">Skill Test SoftRig</span>

      <span class="spacer"></span>

      <div *ngIf="isAuthenticated$ | async as isAuthenticated; else noAuth">
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
            {{ (userData$ | async)?.name }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <ng-template #noAuth>
        <button mat-raised-button (click)="login()">Login</button>
      </ng-template>

    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
