.card {
  max-width: 400px;
  margin: auto;
  position: relative;
  top: 5rem;
  box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 50%);
}

.header-image {
  background-image: url('https://www.softrig.com/media/site/logo.svg');
  background-size: cover;
}
