<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Welcome to Home Page</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://www.softrig.com/media/site/masthead/main.svg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h3>A "Contact person" CRUD application.</h3>
    <p *ngIf="isAuthenticated && userData$ | async as userData">
      Logged in as {{ userData.name }}
    </p>
    <p *ngIf="!isAuthenticated">
      Login to get started!
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="!isAuthenticated">
    <button mat-button (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>
