<mat-card class="card">
  <mat-card-header>
    <mat-card-title>New Contact</mat-card-title>
  </mat-card-header>
  <form [formGroup]="contactForm" (ngSubmit)="submitCreate()">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Name *</mat-label>
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="contactForm.get('name').hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="contactForm.get('email').hasError('email') && !contactForm.get('email').hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="contactForm.get('email').hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Country code *</mat-label>
            <mat-icon matPrefix>add</mat-icon>
            <input matInput placeholder="Country code (Phone)" formControlName="countryCodePhone" maxlength="3">
            <mat-error *ngIf="contactForm.get('countryCodePhone').hasError('required')">
              Country code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone number *</mat-label>
            <input matInput placeholder="Phone number" formControlName="phone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="contactForm.get('phone').hasError('required')">
              Phone number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Address line 1 *</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St" formControlName="addressLine1"></textarea>
            <mat-error *ngIf="contactForm.get('addressLine1').hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Address line 2</mat-label>
            <textarea matInput formControlName="addressLine2"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Postal code *</mat-label>
            <input matInput placeholder="Ex. 94105" formControlName="postalCode">
            <mat-error *ngIf="contactForm.get('postalCode').hasError('required')">
              Postal code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>City *</mat-label>
            <input matInput placeholder="Ex. Bergen" formControlName="city">
            <mat-error *ngIf="contactForm.get('city').hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Country *</mat-label>
            <input matInput placeholder="Ex. Norway" formControlName="country">
            <mat-error *ngIf="contactForm.get('country').hasError('required')">
              Country is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Country code</mat-label>
            <input matInput formControlName="countryCode">
            <mat-error *ngIf="contactForm.get('countryCode').hasError('required')">
              Country code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        [disabled]="!states.createContact.isPristine || contactForm.invalid"
      >
        <ng-container *ngIf="!states.createContact.isLoading">
          <mat-icon>save</mat-icon>
          <span> SAVE</span>
        </ng-container>
        <app-loading-spinner-icon [state]="states.createContact"></app-loading-spinner-icon>
      </button>
      <button mat-button type="button" [routerLink]="['/contacts/']">BACK</button>
    </mat-card-actions>
  </form>
</mat-card>
