.card {
  max-width: 50%;
  margin: auto;
  position: relative;
  top: 5rem;
  box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 50%);
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
