<ng-container *ngIf="!state || state.isLoading">
  <div [id]="noStyling ? '' : 'loading-container'" fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner [diameter]="diameter" mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-container>
