#loading-container {
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5rem;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgb(204, 244, 251);
}
